@model List<models.modeldata>
<main>
    <div class="banner">
        <div class="container">
            <div class="slider-container has-scrollbar">
                <div class="slider-item">
                    <img src="~/images/horizontal-banner-capture-yourself-theme_23-2148686447.jpg" alt="women's latest fashion sale" class="banner-img" />
                    <div class="banner-content">
                        <p class="banner-subtitle">Trending item</p>
                        <h2 class="banner-title">Women's latest fashion sale</h2>
                        <a href="#" class="banner-btn">Đến xem ngay</a>
                    </div>
                </div>
                <div class="slider-item">
                    <img src="~/images/banner3.jpg" alt="modern sunglasses" class="banner-img" />
                    <div class="banner-content">
                        <p class="banner-subtitle">Trending accessories</p>
                        <h2 class="banner-title">Modern sunglasses</h2>
                        <a href="#" class="banner-btn">Đến xem ngay/a>
                    </div>
                </div>

                <div class="slider-item">

                    <img src="~/images/banner2.jpeg" alt="new fashion summer sale" class="banner-img" />

                    <div class="banner-content">

                        <p class="banner-subtitle">Sale Offer</p>

                        <h2 class="banner-title">New fashion summer sale</h2>

                        <a href="#" class="banner-btn">Đến xem ngay</a>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="category">
        <div class="container">
            <div class="category-item-container has-scrollbar">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var sanpham in Model[0].san_Phamlist)
                    {
                        <div class="category-item">
                            <div class="category-img-box">
                                <img src="@sanpham.anh" alt="hat & caps" width="30">
                            </div>
                            <div class="category-content-box">
                                <div class="category-content-flex">
                                    <h3 class="category-item-title">@sanpham.tensanpham</h3>
                                    <p class="category-item-amount">(@sanpham.soluongcon)</p>
                                </div>
                                <a href="#" onclick="addTocart('@sanpham.id', '@sanpham.tensanpham', '@sanpham.giaban', '@sanpham.anh')" class="category-btn">Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="product-container">
        <div class="container">
            <div class="sidebar  has-scrollbar" data-mobile-menu>
                <div class="sidebar-category">
                    <div class="sidebar-top">
                        <h2 class="sidebar-title">Thương Hiệu</h2>
                        <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <ul class="sidebar-menu-category-list">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var nha_Cung_Cap in Model[0].nha_Cung_CapList)
                            {
                                <li class="sidebar-menu-category">
                                    <a href="/home/index?idnhancungcap=@nha_Cung_Cap.id" class="sidebar-accordion-menu" data-accordion-btn>
                                        <div class="menu-title-flex">
                                            <img src="~/img/fashion.png" alt="clothes" width="20" height="20" class="menu-title-img">
                                            <p class="menu-title">@nha_Cung_Cap.tennhancungcap</p>
                                        </div>
                                        <div>
                                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="sidebar-category">
                    <div class="sidebar-top">
                        <h2 class="sidebar-title">Danh mục sản phẩm</h2>
                        <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                            <ion-icon name="close-outline"></ion-icon>
                        </button>
                    </div>
                    <ul class="sidebar-menu-category-list">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var danhmuc in Model[0].danh_Mucs)
                            {
                                <li class="sidebar-menu-category">
                                    <a href="/home/index?iddanhmuc=@danhmuc.Id" class="sidebar-accordion-menu" data-accordion-btn>
                                        <div class="menu-title-flex">
                                            <img src="~/img/fashion.png" alt="clothes" width="20" height="20" class="menu-title-img">
                                            <p class="menu-title">@danhmuc.TenCategory</p>
                                        </div>
                                        <div>
                                            <ion-icon name="add-outline" class="add-icon"></ion-icon>
                                            <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                                        </div>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="product-showcase">
                    <h3 class="showcase-heading">Sản phẩm bán chạy nhất</h3>
                    <div class="showcase-wrapper">
                        <div class="showcase-container">
                            <div class="showcase">
                                @*        <a href="#" class="showcase-img-box">
                                <img src="./assets/images/products/1.jpg" alt="baby fabric shoes" width="75"
                                height="75" class="showcase-img">
                                </a> *@
                                <div class="showcase-content">
                                    <a href="#">
                                        <h4 class="showcase-title">SẢN PHẨM 1</h4>
                                    </a>
                                    <div class="showcase-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                    </div>
                                    <div class="price-box">
                                        <del>150.000VNĐ</del>
                                        <p class="price">100.000VNĐ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-box">
                <div class="product-main">
                    <h2 class="title">Sản phẩm mới cập nhật</h2>
                    <div class="product-grid">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var sanpham in Model[0].san_Phamlist)
                            {
                                <div class="showcase" style="height:450px;">
                                    <div class="showcase-banner">
                                        <img src="@sanpham.anh"
                                             alt="Better Basics French Terry Sweatshorts" class="product-img default"
                                             width="300">
                                        <img src="@sanpham.anh"
                                             alt="Better Basics French Terry Sweatshorts" class="product-img hover"
                                             width="300">
                                        <p class="showcase-badge angle black">sale</p>
                                        <div class="showcase-Actions">
                                            <button class="btn-Action">
                                                <ion-icon name="heart-outline"></ion-icon>
                                            </button>
                                            <button class="btn-Action">
                                                <a href="/product/productdetail?id=@sanpham.id">
                                                    <ion-icon name="eye-outline"></ion-icon>
                                                </a>
                                            </button>
                                            <button class="btn-Action">
                                                <ion-icon name="repeat-outline"></ion-icon>
                                            </button>
                                            <button class="btn-Action">
                                                <ion-icon onclick="addTocart('@sanpham.id', '@sanpham.tensanpham', '@sanpham.giaban', '@sanpham.anh')" name="bag-add-outline"></ion-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="showcase-content">
                                        <a href="linkproductdetail" style="display: block;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" class="showcase-category">@sanpham.tensanpham</a>
                                        <h3>
                                            <a style="display: block;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" href="#" class="showcase-title">@sanpham.mota</a>
                                        </h3>
                                        <div class="showcase-rating">
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                            <ion-icon name="star-outline"></ion-icon>
                                        </div>
                                        <div class="price-box">
                                            <p class="price">
                                                @string.Format("{0:N0} VNĐ", sanpham.giaban)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <h2 class="title">Gợi Ý Sản Phẩm</h2>

            </div>
        </div>
    </div>
</main>
