@model models.modeldata
<link href="~/assets/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="~/assets/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="container-scroller">
    @Html.Partial("~/Views/layout/_navbar.cshtml")
    <div class="container-fluid page-body-wrapper">
        @Html.Partial("~/Views/layout/_sidebar.cshtml")
        <div class="main-panel">
            <div class="content-wrapper" style="background: #fffafa">
                <div class="page-header">
                    <h3 class="page-title"> Danh sách nhân viên </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/User/addnhanvien">
                                    <button class="btn-add"> <i class="fas fa-plus"></i> Thêm nhân viên</button>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <button class="btn-extract"><i class="fas fa-file-excel"></i> Xuất Excel</button>
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">                 
                            <div class="card-body">
                                <table class="table table-bordered" style="justify-content:center; text-align:center">
                                    <thead>
                                        <tr>
                                            <th> ID </th>
                                            <th> Tên nhân viên </th>
                                            <th> Điện thoại </th>
                                            <th> Email </th>
                                            <th> Mật khẩu </th>
                                            <th> Vai trò </th>
                                            <th> Địa chỉ </th>
                                            <th> Lương </th>
                                            <th> Chức năng </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.nhanvienlist != null && Model.nhanvienlist.Count > 0)
                                        {
                                            int id = 1;
                                            foreach (var nhan_Vien in Model.nhanvienlist)
                                            {
                                                <tr>
                                                    <td>@id</td>
                                                    <td>@nhan_Vien.hovaten</td>
                                                    <td>@nhan_Vien.dienthoai</td>
                                                    <td>@nhan_Vien.email</td>
                                                    <td>@nhan_Vien.matkhau</td>
                                                    <td>@nhan_Vien.vaitro</td>
                                                    <td>@nhan_Vien.diachi</td>
                                                    <td>
                                                        @string.Format("{0:N0} VNĐ", @nhan_Vien.luong)
                                                    </td>

                                                    <td>
                                                    <a href="/user/Xoanhanvien/?id=@nhan_Vien.id" class="btn btn-danger" onclick="return confirmDelete();">
                                                        <i class="fas fa-trash-alt"></i> Xoá
                                                    </a>

                                                        <a href="/user/updatenhanvienbyid/?id=@nhan_Vien.id" class="btn btn-primary">
                                                            <i class="fas fa-edit"></i> Sửa
                                                        </a>
                                                    </td>
                                                </tr>
                                                id++;
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5">Không có mã giảm giá nào cả</td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function confirmDelete() {
        return confirm("Bạn có chắc chắn muốn xóa nhân viên này không?");
    }
</script>

<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="~/assets/vendors/chart.js/chart.min.js"></script>
<script src="~/assets/js/jquery.cookie.js"></script>
<script src="~/assets/js/off-canvas.js"></script>
<script src="~/assets/js/hoverable-collapse.js"></script>
<script src="~/assets/js/misc.js"></script>
<script src="~/assets/js/dashboard.js"></script>
<script src="~/assets/js/todolist.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
